{% set menu_style = request.query_params.get('menu', 'default') %}
{% if menu_style == 'default' %}
<nav class="border-b border-gray-200">
    <div class="mx-auto px-2">
        <div class="flex h-12 items-center justify-between">
            
            <div class="inline-flex items-center text-sm text-blue-600 hover:text-blue-800 hover:cursor-pointer">
                <a class="inline-flex items-center" hx-get="{{ path }}entries.html" hx-target="#main-content" hx-swap="innerHTML" hx-include="#search">
                    <svg class="mr-2 h-4 w-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
                    </svg>
                    back
                </a>
            </div>
            
            <div class="relative" x-data="{ open: false }">
                <button 
                    @click="open = !open"
                    @click.outside="open = false"
                    class="inline-flex items-center text-sm text-blue-600 hover:text-blue-800"
                >
                    Export Metadata
                    <svg class="ml-1 h-4 w-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </button>

                <div 
                    x-show="open"
                    x-transition
                    class="absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 z-10"
                >
                    <div class="py-1">
                        <a 
                            href="{{ root_path }}entries/{{ entry.id }}.json"
                            target="_blank"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                        >
                            View JSON
                        </a>
                        <a 
                            href="{{ path }}entries/{{ entry.id }}.xml" 
                            target="_blank"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                        >
                            Metacatalog XML
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>
{% endif %}
<div class="p-8 sm:p-4">
    <div class="px-4 sm:px-0">
        <h3 class="text-base font-semibold leading-7 text-gray-900">
            {{ entry.title }}  - (ID: {{ entry.id }})
        </h3>
        <div>
            <span class="inline-flex items-center rounded-md bg-indigo-50 px-2 py-1 text-xs font-medium text-indigo-700 ring-1 ring-inset ring-indigo-700/10">
                Publication: {{ entry.publication }}
            </span>
            <span class="inline-flex items-center rounded-md bg-indigo-50 px-2 py-1 text-xs font-medium text-indigo-700 ring-1 ring-inset ring-indigo-700/10">
                Last updated: {{ entry.lastUpdate }}
            </span>
        </div>
        <p class="mt-1 max-w-4xl text-sm leading-6 text-gray-500">
            {{ entry.abstract }}
        </p>
    </div>

    <h4 class="mt-6 text-base font-semibold leading-7 text-gray-900">Metadata</h4>
    <div class="mt-1 border-t border-gray-200">
        <dl class="divide-y divide-gray-200">
            
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">Variable</dt>
                <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{entry.variable.name}} ({{entry.variable.symbol}})</dd>
            </div>

            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">Unit</dt>
                <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{entry.variable.unit.name}} ({{entry.variable.unit.symbol}})</dd>
            </div>

            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">UUID</dt>
                <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{entry.uuid}}</dd>
            </div>

            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">External ID</dt>
                <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{entry.external_id}}</dd>
            </div>

            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">Citation</dt>
                <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{entry.citation}}</dd>
            </div>

            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">License</dt>
                <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{entry.license.title}}</dd>
            </div>

        </dl>
    </div>

    <h4 class="mt-6 text-base font-semibold leading-7 text-gray-900">Authors</h4>
    <div class="mt-1 border-t border-gray-200">
        <dl class="divide-y divide-gray-200">
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                {% if entry.author.last_name is none  %}
                    <dt class="text-sm font-medium leading-6 text-gray-900">Oragnisation</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{entry.author.organisation_name}} ({{entry.author.organisation_abbrev}})</dd>
                {% else %}
                    <dt class="text-sm font-medium leading-6 text-gray-900">{{ entry.author.first_name }} {{entry.author.last_name }}</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{entry.author.affiliation}}</dd>
                {% endif %}   
            </div>
            {% for author in entry.coAuthors %}
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    {% if author.last_name is none  %}
                        <dt class="text-sm font-medium leading-6 text-gray-900">Oragnisation</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{author.organisation_name}} ({{author.organisation_abbrev}})</dd>
                    {% else %}
                        <dt class="text-sm font-medium leading-6 text-gray-900">{{ author.first_name }} {{author.last_name }}</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{author.affiliation}}</dd>
                    {% endif %}   
                </div>
            {% endfor %}
        </dl>
    </div>

    {% if groups and groups|length > 0  %}
        <h4 class="mt-6 text-base font-semibold leading-7 text-gray-900">Groups</h4>
        <div class="mt-1 border-t border-gray-200">
            <dl class="divide-y divide-gray-200">
                {% for group in groups %}
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                        <dt class="text-sm font-medium leading-6 text-gray-900">{{ group.type.name }}</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                            {{ group.title }}
                        </dd>
                    </div>
                    {% endfor %}
            </dl>
        </div>
    {% endif %}
    
    {% if entry.datasource is not none %}
        <h4 class="mt-6 text-base font-semibold leading-7 text-gray-900">Data Source</h4>
        <div class="mt-1 border-t border-gray-200">
            <dl class="divide-y divide-gray-200">

                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Path</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{entry.datasource.path}}</dd>
                </div>

                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Type</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{entry.datasource.type.title}}</dd>
                </div>

                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Variable name (column / coord name)</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                        <pre>{{','.join(entry.datasource.variable_names)}}</pre>
                    </dd>
                </div>

                {% if entry.datasource.spatial_scale is not none %}
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Spatial Scale</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                        <ul>
                            <li>
                                <div class="">
                                    <div class="flex w-min-0 flex-1 gap-2">
                                        <span class="font-medium text-gray-900">Extent</span>
                                        <span>{{ entry.datasource.spatial_scale.extent }}</span>
                                    </div>
                                    <div class="flex w-min-0 flex-1 gap-2">
                                        <span class="font-medium text-gray-900">Resolution</span>
                                        <span>{{ entry.datasource.spatial_scale.resolution_str }}</span>
                                    </div>
                                    <div class="flex w-min-0 flex-1 gap-2">
                                        <span class="font-medium text-gray-900">Dimension names</span>
                                        <span>
                                            <pre>{{ ','.join(entry.datasource.spatial_scale.dimension_names) }}</pre>
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </dd>
                </div>
                {% endif %}

                {% if entry.datasource.temporal_scale is not none %}
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Temporal Scale</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                        <ul>
                            <li>
                                <div class="">
                                    <div class="flex w-min-0 flex-1 gap-2">
                                        <span class="font-medium text-gray-900">Extent</span>
                                        <span>
                                            {{entry.datasource.temporal_scale.extent[0].strftime('%d.%m.%Y %H:%M') }}
                                            - 
                                            {{entry.datasource.temporal_scale.extent[1].strftime('%d.%m.%Y %H:%M') }}

                                        </span>
                                    </div>
                                    <div class="flex w-min-0 flex-1 gap-2">
                                        <span class="font-medium text-gray-900">Resolution</span>
                                        <span>{{ entry.datasource.temporal_scale.resolution }}</span>
                                    </div>
                                    <div class="flex w-min-0 flex-1 gap-2">
                                        <span class="font-medium text-gray-900">Dimension names</span>
                                        <span>
                                            <pre>{{ ','.join(entry.datasource.temporal_scale.dimension_names) }}</pre>
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </dd>
                </div>
                {% endif %}
            
            </dl>
        </div>
    {% endif %}

    <h4 class="mt-6 text-base font-semibold leading-7 text-gray-900">Details</h4>
    <div class="mt-1 border-t border-gray-200">
        <dl class="divide-y divide-gray-200">
            {% for detail in entry.details %}
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">{{ detail.key }}</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{detail.value}}</dd>
                </div>
            {% endfor %}
        </dl>
    </div>

</div>
{% set embedded = request.query_params.get('embedded') == 'true' %}
{% if not embedded %}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet" />
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
{% endif %}
