services:
  db:
    image: postgis/postgis:15-3.4
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: metacatalog
    expose:
      - 5432
    ports:
      - 5433:5432
    volumes:
      - ./data/dev/pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}'"]
      interval: 1s
      timeout: 1s
      retries: 5

  app:
    build: .
    environment:
      METACATALOG_URI: postgresql://postgres:postgres@db:5432/metacatalog
      ENVIRONMENT: development
      METACATALOG_ADMIN_TOKEN: ${METACATALOG_ADMIN_TOKEN}
      VITE_BACKEND_URL: http://localhost:8000
      VITE_METACATALOG_ADMIN_TOKEN: ${METACATALOG_ADMIN_TOKEN}
    ports:
      - 8001:8000  # API
      - 5173:5173  # Frontend dev server
    volumes:
      - ./metacatalog_api:/app/metacatalog_api
    depends_on:
      db:
        condition: service_healthy
    command: sh -c "python metacatalog_api/default_server.py --reload=True & cd metacatalog_api/apps/manager && npm run dev -- --host 0.0.0.0 & wait" 