services:
  db:
    image: postgis/postgis:15-3.4
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: metacatalog
    expose:
      - 5432
    ports:
      - 5433:5432
    volumes:
      - ./data/dev/pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}'"]
      interval: 1s
      timeout: 1s
      retries: 5
  
  api:
    build: .
    environment:
      METACATALOG_URI: postgresql://postgres:postgres@db:5432/metacatalog
      ENVIRONMENT: development
      METACATALOG_ADMIN_TOKEN: ${METACATALOG_ADMIN_TOKEN}
    links:
      - db
    depends_on:
      db:
        condition: service_healthy
    ports:
      - 8001:8000
    volumes:
      - ./metacatalog_api:/app/metacatalog_api
